{% extends 'mainapp/base.html' %}
{% load static %}
{% block css %}
    <link href='{% static "/css/index.css"%}' rel="stylesheet">
{% endblock %}
{% block content %}
<!-- Page Content -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">DonOutcast Store</h1>
                <p>
                    Новые образы и лучшие бренды на DonOutcast Store.
                    Бесплатная доставка по всему миру! Аутлет: до -70% Собственный бренд. -20% новым покупателям.
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href='{% url "products"%}'>
                        Начать покупки
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
 {% endblock %}

